.navbar {
    background-color: #05386B;
}

#my_card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-width: 5px;
    width: 68%;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    transition: border-color 0.3s, border-width 0.3s;
    overflow: hidden;
}

.event-image {
    width: 180px;
    height: auto;
    margin-right: 15px;
}

.event-details {
    flex-grow: 1;
    overflow-wrap: break-word;
}

.card-text p {
    margin: 0;
}

@media (max-width: 768px) {
    #my_card {
        flex-direction: column;
        align-items: flex-start;
    }

    .event-image {
        width: 40%;
        height: auto;
        margin-left: 2%;
        margin-bottom: 15px;
    }
}


#my_card:hover {
    background-color: #05386B;
    color: white;
    border-color: #5CDB95;
    border-width: 8px;
}

.navbar {
    background-color: #05386B;
}

.blue {
    color: #05386B;
}

.page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.pic {
    border-radius: 20px;
    width: 300px;
    margin-top: 200px

}

.imagee {
    border-radius: 20px;
    width: 300px;
    margin-top: 230px

}

.content {
    max-width: 300%;
    margin: 0 auto;
    padding: 120px 20px;
    flex: 1 1 auto;
}

#log {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;

    &:before {
        background-color: #05386B;
        content: '';
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        border: 2px solid;
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.5s;
        animation: 0.8s linear infinite rotate;
    }

    &.sending {
        pointer-events: none;
        cursor: not-allowed;

        &:before {
            transition-delay: 0.5s;
            transition-duration: 1s;
            opacity: 1;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#reg {
    background-color: #5CDB95;
}

#bg {
    background-color: #5CDB95;
}

#fd {
    color: #05386B;
}

#c {
    color: #05386B !important;
}

#cpp {
    color: #05386B !important;
}

#zg {
    font-size: 60px;
    color: #05386B;
}

#loginform {
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 140px;
}

#otstup {
    margin-top: 40px;
}

#bg_b {
    margin-top: 20px;
    background-color: #05386B;
}

#btn_blu {
    color: #05386B;
}

#regform {
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 15px;
}

#niz {
    margin-bottom: 20px;
}

.box {
    width: 400px;
    display: inline-block;
}

#main {
    align: center
}

.map {
    width: 600px;
    height: 600px;
    background: #333;
}

@media (max-width: 2700px) {
    .map {
        width: 2000px;
        height: 600px;
    }
}

@media (max-width: 2400px) {
    .map {
        width: 1850px;
        height: 600px;
    }
}

@media (max-width: 2250px) {
    .map {
        width: 1700px;
        height: 600px;
    }
}

@media (max-width: 2100px) {
    .map {
        width: 1550px;
        height: 600px;
    }
}

@media (max-width: 1950px) {
    .map {
        width: 1400px;
        height: 600px;
    }
}

@media (max-width: 1800px) {
    .map {
        width: 1250px;
        height: 600px;
    }
}

@media (max-width: 1650px) {
    .map {
        width: 1100px;
        height: 600px;
    }
}

@media (max-width: 1500px) {
    .map {
        width: 950px;
        height: 600px;
    }
}

@media (max-width: 1350px) {
    .map {
        width: 850px;
        height: 600px;
    }
}

@media (max-width: 1200px) {
    .map {
        width: 700px;
        height: 600px;
    }
}

@media (max-width: 1100px) {
    .map {
        width: 650px;
        height: 600px;
    }
}

@media (max-width: 1000px) {
    .map {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 880px) {
    .map {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 768px) {
    .map {
        width: 400px;
        height: 400px;
    }
}